beadando/PorscheXDM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- Root Element based on XDM -->
    <xs:element name="XPUYJXSzalon">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PorscheDealer" type="PorscheDealerType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="Customer" type="CustomerType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Vehicle" type="VehicleType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Part" type="PartType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Technician" type="TechnicianType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        <!-- Key Definitions -->
        <xs:key name="DealerKey">
            <xs:selector xpath=".//PorscheDealer"/>
            <xs:field xpath="dealerID"/>
        </xs:key>
        <xs:key name="CustomerKey">
            <xs:selector xpath=".//Customer"/>
            <xs:field xpath="customerID"/>
        </xs:key>
        <xs:key name="VehicleKey">
            <xs:selector xpath=".//Vehicle"/>
            <xs:field xpath="vehicleID"/>
        </xs:key>
        <xs:key name="PartKey">
            <xs:selector xpath=".//Part"/>
            <xs:field xpath="partID"/>
        </xs:key>
        <xs:key name="TechnicianKey">
            <xs:selector xpath=".//Technician"/>
            <xs:field xpath="technicianID"/>
        </xs:key>
        <!-- Key References -->
        <xs:keyref name="VehicleOwnerRef" refer="CustomerKey">
            <xs:selector xpath=".//Vehicle"/>
            <xs:field xpath="owner"/>
        </xs:keyref>
        <xs:keyref name="TechnicianPrefRef" refer="TechnicianKey">
            <xs:selector xpath=".//Customer/relationship"/>
            <xs:field xpath="preferedTechnician"/>
        </xs:keyref>
    </xs:element>

    <!-- PorscheDealer Entity -->
    <xs:complexType name="PorscheDealerType">
        <xs:sequence>
            <xs:element name="dealerID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Egyedi azonosító az autókereskedéshez (PRIMARY KEY)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="managerName" type="xs:string"/>
            <xs:element name="numOfEmployees" type="xs:integer"/>
            <xs:element name="rating" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Customer Entity -->
    <xs:complexType name="CustomerType">
        <xs:sequence>
            <xs:element name="customerID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Egyedi azonosító az ügyfélhez (PRIMARY KEY)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="email" type="xs:string" minOccurs="0"/>
            <xs:element name="phone" type="xs:string" minOccurs="0"/>
            <xs:element name="birthDate" type="xs:date" minOccurs="0"/>
            <xs:element name="relationship" type="RelationshipType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Customer Relationship Details -->
    <xs:complexType name="RelationshipType">
        <xs:sequence>
            <xs:element name="loyaltyPoints" type="xs:integer" minOccurs="0"/>
            <xs:element name="preferedTechnician" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Referencia a szerelőhöz (FOREIGN KEY)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="language" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Vehicle Entity -->
    <xs:complexType name="VehicleType">
        <xs:sequence>
            <xs:element name="vehicleID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Egyedi azonosító a járműhöz (PRIMARY KEY)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="model" type="xs:string"/>
            <xs:element name="year" type="xs:gYear" minOccurs="0"/>
            <xs:element name="color" type="xs:string" minOccurs="0"/>
            <xs:element name="mileage" type="xs:integer" minOccurs="0"/>
            <xs:element name="purchaseDate" type="xs:date" minOccurs="0"/>
            <xs:element name="owner" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Referencia az ügyfélhez (FOREIGN KEY)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Part Entity -->
    <xs:complexType name="PartType">
        <xs:sequence>
            <xs:element name="partID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Egyedi azonosító az alkatrészhez (PRIMARY KEY)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
            <xs:element name="listPrice" type="xs:decimal" minOccurs="0"/>
            <xs:element name="compatibleModels" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Technician Entity -->
    <xs:complexType name="TechnicianType">
        <xs:sequence>
            <xs:element name="technicianID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Egyedi azonosító a szerelőhöz (PRIMARY KEY)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="hireDate" type="xs:date" minOccurs="0"/>
            <xs:element name="phone" type="xs:string" minOccurs="0"/>
            <xs:element name="certifications" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ============================================ -->
    <!-- KULCSDEFINÍCIÓK (KEY CONSTRAINTS) -->
    <!-- ============================================ -->
    <xs:annotation>
        <xs:documentation>
            PRIMARY KEYS (Elsődleges kulcsok):
            - PorscheDealer.dealerID: Az autókereskedés egyedi azonosítója
            - Customer.customerID: Az ügyfél egyedi azonosítója
            - Vehicle.vehicleID: A jármű egyedi azonosítója
            - Part.partID: Az alkatrész egyedi azonosítója
            - Technician.technicianID: A szerelő egyedi azonosítója
            
            FOREIGN KEYS (Idegen kulcsok):
            - Vehicle.owner -> Customer.customerID (egy ügyfélhez több jármű)
            - Customer.relationship.preferedTechnician -> Technician.technicianID (ügyfél szokásos szerelője)
        </xs:documentation>
    </xs:annotation>

</xs:schema>
