XPUYJX_1008/XPUYJX_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="XPUYJX_orarend">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ora" type="oraTipus" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="oraTipus">
        <xs:sequence>
            <xs:element name="targy" type="xs:string"/>
            <xs:element name="Idopont" type="idopontTipus"/>
            <xs:element name="helyszin" type="xs:string"/>
            <xs:element name="oktato" type="xs:string"/>
            <xs:element name="szak" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="lang" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="idopontTipus">
        <xs:sequence>
            <xs:element name="nap" type="napTipus"/>
            <xs:element name="tol" type="oraIntervallumTipus"/>
            <xs:element name="ig" type="oraIntervallumTipus"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="napTipus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="hetfo"/>
            <xs:enumeration value="kedd"/>
            <xs:enumeration value="szerda"/>
            <xs:enumeration value="csutortok"/>
            <xs:enumeration value="pentek"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="oraIntervallumTipus">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>


</xs:schema>
