XPUYJX_0924/XPUYJX_mozi.dtd

<!ELEMENT mozi (film*)>

<!ELEMENT film (rendezo+, szinesz+, iro+)>
<!ATTLIST film
    id ID #REQUIRED
    mufaj (horror | vigjatek | drama) #REQUIRED>

<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo
    id ID #REQUIRED
    nev CDATA #IMPLIED>

<!ELEMENT szinesz (gyerekszinesz?, musicalszinesz?, szinkronszinesz?)?>
<!ATTLIST szinesz
    id ID #REQUIRED
    nev CDATA #IMPLIED>

<!ELEMENT gyerekszinesz EMPTY>
<!ELEMENT musicalszinesz EMPTY>
<!ELEMENT szinkronszinesz EMPTY>

<!ELEMENT iro EMPTY>
<!ATTLIST iro
    id ID #REQUIRED
    nev CDATA #IMPLIED>
