XPUYJX_1015/XPUYJX_XML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Vendeglatas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="etterem" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nev" type="xs:string"/>
              <xs:element name="cím">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="város" type="xs:string"/>
                    <xs:element name="utca" type="xs:string"/>
                    <xs:element name="házszám" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="csillag" type="xs:integer"/>
            </xs:sequence>
            <xs:attribute name="E1" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Főszakács" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nev" type="xs:string"/>
              <xs:element name="Eletkor" type="xs:string"/>
              <xs:element name="végzetség" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="Fkod" type="xs:string" use="required"/>
            <xs:attribute name="E_F" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="szakacs" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nev" type="xs:string"/>
              <xs:element name="életkor" type="xs:string"/>
              <xs:element name="végzetség" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="SZkod" type="xs:string" use="required"/>
            <xs:attribute name="E_Sz" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="gyakornok" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nev" type="xs:string"/>
              <xs:element name="gyakorlat" type="xs:string"/>
              <xs:element name="műszak">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="kezdete" type="xs:string"/>
                    <xs:element name="ídőtartalma" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="GYkod" type="xs:string" use="required"/>
            <xs:attribute name="E_GY" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="rendeles" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="összeg" type="xs:string"/>
              <xs:element name="étel" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="E_R" type="xs:string" use="required"/>
            <xs:attribute name="Rkod" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="vendég" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="név" type="xs:string"/>
              <xs:element name="életkor" type="xs:string"/>
              <xs:element name="cím">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="város" type="xs:string"/>
                    <xs:element name="utca" type="xs:string"/>
                    <xs:element name="házszám" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Vkod" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
